@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@{
    var selection = Model.Children.Where(x => x.IsVisible()).OrderBy(x => x.CreateDate).ToList();
    var rowNumber = 1;
    var rowClass = "";
}

<div class="overview-margin">
<H2>
    Articles
    <small class="text-muted">... choose one to read more</small>
</H2>
 @Model.ArticlesBodyText
<hr>

@foreach(var item in selection){
    rowClass = (++rowNumber % 2 == 0) ? "article-row-even" : "article-row-odd";
    <div class=@rowClass>
	    <h4>@item.Name</h4>
        <div class="articlepreview">
            @Umbraco.Truncate((@item.HasValue("ArticleContent") ? item.GetPropertyValue<string>("ArticleContent") : "No content"), 400)
            <a href="@item.Url">Read More..</a>
            <hr>
        </div>
    </div>
}

</div>


